// Sidebar
.sidebar {
    position: relative;
    right: 7%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    .sidecontent {
        padding: 4px 20px;
        text-align: center;
        background: white;
        position: sticky;
        top: 10px;
        .side-title span.field-content {
            position: absolute;
            width: 100%;
            left: -10px;
            bottom: 13%;
            font-size: 16px;
            z-index: 10;
            a {
                color: white;
                text-decoration: none;
                font-weight: 600;
            }
        }
        .views-field-field-image .field-content {
            background-color: black;
            img {
                opacity: 60%;
            }
        }
    }
    .recent {
        position: relative;
        margin-bottom: 10px;
    }
}