@mixin mobile {
    @media screen and (max-width: 426px) {
        @content;
    }
}

@mixin tablet {
    @media screen and(min-width: 427px) and(max-width: 769px) {
        @content;
    }
}

.container {
    .article {
        width: 29% !important;
        background-color: white;
        text-align: center;
        position: relative;
        top: 6 rem;
        left: 80% !important;
        height: 75vh;
        @include mobile {
            width: 98% !important;
            left: 1% !important;
        }
        ul {
            list-style: none;
            padding: unset;
        }
        .js-form-item .form-text.required {
            padding: 2px 7px;
            width: 60%;
            outline: none;
        }
        .button {
            width: 64%;
            @include tablet {
                font-size: 25px;
            }
        }
    }
    #user-login-form {
        padding-top: 30px;
        label {
            display: none;
        }
        label.option {
            display: block;
        }
        .description {
            display: none;
        }
        .form-text {
            width: 60%;
            padding: 2px 7px;
            outline: none;
            @include tablet {
                font-size: 25px;
            }
        }
        .js-form-item-persistent-login {
            display: flex;
            width: fit-content;
            margin-left: 17%;
        }
    }
    #block-visual-local-tasks {
        @include tablet {
            font-size: 25px;
        }
    }
    #user-register-form {
        padding-top: 30px;
        label {
            display: none;
        }
        .description {
            display: none;
        }
        #edit-mail {
            width: 60%;
            padding: 2px 7px;
            outline: none;
            @include mobile {
                width: 93%;
            }
        }
        #edit-name {
            width: 60%;
            padding: 2px 7px;
            outline: none;
            @include mobile {
                width: 93%;
            }
        }
        summary {
            display: none;
        }
        .js-form-item-contact {
            display: none;
        }
        input#edit-display-name {
            width: 62%;
            @include mobile {
                width: 97%;
            }
        }
    }
    .form-text.required {
        width: 56%;
    }
}