@mixin mobile {
    @media screen and (max-width: 426px) {
        @content;
    }
}

@mixin tablet {
    @media screen and(min-width: 427px) and(max-width: 769px) {
        @content;
    }
}

.container {
    .article {
        height: 75vh;
        ul {
            list-style: none;
            padding: unset;
        }
        .js-form-item .form-text.required {
            padding: 2px 7px;
            width: 60%;
            outline: none;
        }
        .button {
            width: 64%;
        }
    }
    #user-login-form {
        padding-top: 30px;
        label {
            display: none;
        }
        .description {
            display: none;
        }
        .form-text {
            width: 60%;
            padding: 2px 7px;
            outline: none;
        }
    }
    #user-register-form {
        padding-top: 30px;
        label {
            display: none;
        }
        .description {
            display: none;
        }
        #edit-mail {
            width: 60%;
            padding: 2px 7px;
            outline: none;
            @include mobile {
                width: 93%;
            }
        }
        #edit-name {
            width: 60%;
            padding: 2px 7px;
            outline: none;
            @include mobile {
                width: 93%;
            }
        }
        summary {
            display: none;
        }
        .js-form-item-contact {
            display: none;
        }
        input#edit-display-name {
            width: 62%;
            @include mobile {
                width: 97%;
            }
        }
    }
    .form-text.required {
        width: 56%;
    }
}