.footer {
    display: flex;
    justify-content: space-around;
    color: #bbbbbb;
    background: #24262b;
    padding: 70px 0px;
    margin-top: 10px;
    @include mobile {
        flex-direction: column;
        padding: 15px;
    }
    h2 {
        color: white;
        font-size: 15px;
    }
    ul {
        list-style: none;
        margin-left: -40px;
    }
    li {
        padding-bottom: 9px;
        a {
            color: #bbbbbb;
            text-decoration: none;
        }
    }
    input#edit-email--2 {
        width: 30%;
    }
    textarea#edit-write--2 {
        width: 38%;
    }
}

.feedback {
    width: 19%;
    @include mobile {
        width: 35%;
    }
}

input#edit-email {
    width: 90%;
}

textarea#edit-write {
    width: 91%;
}