@mixin mobile {
    @media screen and (max-width: 426px) {
        @content;
    }
}

@mixin tablet {
    @media screen and(min-width: 427px) and(max-width: 769px) {
        @content;
    }
}

@import "banner.scss";
@import "container.scss";
@import "featured.scss";
@import "footer.scss";
@import "main_navigation.scss";
@import "sidebar.scss";
.feed-icon {
    display: none;
}

html {
    background-color: #f0f0f0;
}

html body {
    margin: -1.5% 0% 0% 0%;
}

.copyright {
    background-color: black;
    color: white;
    padding: 7px 13px;
    margin-top: 2px;
    text-align: center;
    width: 98%;
    @include mobile {
        width: 92%;
    }
    @include tablet {
        width: 96.5%;
    }
}

a#website-feedback-button {
    color: white;
    background: black;
    padding: 7px 13px;
    text-decoration: none;
}

#block-aboutus {
    background: url(../../../../images/optimistic-people-are-always-late.jpg) #00000075;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    position: relative;
    width: 100%;
    top: 188%;
    text-align: center;
    background-attachment: fixed;
    margin-top: 15px;
    padding-bottom: 30px;
    color: white;
    @include tablet {
        p {
            width: 95%;
        }
    }
}

.focusable {
    display: none;
}